<!doctype html>
<html>
	<head>
		<script src='libs/jquery-min.js'></script>
		<script src='libs/underscore-min.js'></script>
		<script src='libs/backbone-min.js'></script>
		<script type='text/template' id='board'>
			<div>
				<table>
				<tr>
					<td class='cell' id='c0'><%= board[0] %></td>
					<td class='cell' id='c1'><%= board[1] %></td>
					<td class='cell' id='c2'><%= board[2] %></td>
				</tr>
				<tr>
					<td class='cell' id='c3'><%= board[3] %></td>
					<td class='cell' id='c4'><%= board[4] %></td>
					<td class='cell' id='c5'><%= board[5] %></td>
				</tr>
				<tr>
					<td class='cell' id='c6'><%= board[6] %></td>
					<td class='cell' id='c7'><%= board[7] %></td>
					<td class='cell' id='c8'><%= board[8] %></td>
				</tr>
				</table>
			</div>
		</script>
		<script type='text/template' id='messageboard'>
			<div>
				<%= message %>
			</div>
		</script>
	</head>
	<body>
		<div id='message'>
		</div>
		<div id='game'>
		</div>
		<script src='js/script.js' type='text/javascript' language='javascript' charset='utf-8'></script>
	</body>
</html>
